.deck-prev-link,
.deck-next-link {
    display: none !important;
}

/*
.deck-status {
    display: none;
}
*/

.reveal ul, .reveal ol, .reveal li {
  padding:0;
  margin:0;
}
.reveal ol {
  padding-top:2em;
}
.reveal ol ul {
  margin-left:6em;
  padding-bottom:.5em;
}
.reveal ol ul > li {
  list-style-type: none !important;
}

.reveal ol > li {
  display:list-item !important;
  list-style-type:decimal;
}

.reveal ul > li {
  display:list-item !important;
  list-style-type:disc;
}

.list-style-none.reveal  ul > li, .list-style-none.reveal  ol > li {
  display:list-item;
  list-style-type:none;
  font-size:1.7em !important;
  padding-top:1em;
}

li {
  font-size:1.3em !important;
}

h3 {
  color: #444 !important;
}
